<form id="signin" name="signin" method="post" action="signin">
  <label for="email">Email Address</label>
  <input class="text" name="email" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <input class="btn" type="submit" value="Sign In" />
</form>


{{!-- import React from "react";

class SignInForm extends React.Component {
  render() {
    return (
      <form id="signin" name="signin" method="post" action="signin">
        <label forHtml="email">Email Address</label>
        <input className="text" name="email" type="text" />
        <label forHtml="password">Password</label>
        <input name="password" type="password" />
        <input className="btn" type="submit" value="Sign In" />
      </form>
    )
  }
}

export default SignInForm;

import React from "react";
import SignInForm from './components/signin'


class Main extends React.Component {
  render(){
    return (
      <SignInForm />
    )
  }
} --}}
