/******* INDEX PAGE ******/
html {
	background-color: #1e1d22;
	
}

.signinContainer { 	
	margin: 0px auto; 
	width: 100%; 
	height: 100%; 
	/*position: relative;*/
}

.image { 
	/*height: 100%; */
	background-attachment: fixed; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	/*backface-visibility: hidden;*/
}

.middle { /*position: fixed;  */ 
	/*height: auto;*/
	width: 65%;
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%); /* Standard syntax */
	-ms-transform: translate(-50%, -50%)  /*IE 9*/
}

/*.signinContainer:hover .image {
	opacity: 0.9;
}*/

.signinContainer:hover .middle {
	opacity: 1;
}

/*SIGN IN FORM CONTAINER*/
.signinForm {   height: 50%;  padding: 15px; 
	background-color: #222328; 
	opacity: 0.7; 
	max-width: 600px; 
	margin: 0px auto;
}

.signinForm input[type=text], input[type=password], input.btn { 
	width: 90%;
	padding: 5px;
	margin: 0px auto;
	display: block;
	border: none;
	/*border: 1px solid #ccc;*/
	/*box-sizing: border-box;*/
	color: black;
	font-size: 16px;	
}

input.btn {  border-radius: 0px; 
	text-decoration: none;
	border: none; 
	background-color: #f7c04b;
	color: white;
	font-size: 16px;
}

input.btn:hover {
  color: #222328;
}

#signUp { 
	border: none; 
	background-color: #0f5ffb;
  }

/*a.aboutLink { 
	text-decoration: none;
}

a.aboutLink:hover {
	color: white;
}*/

/******* USER PAGE ******/
body {border: none;
	background-color: #1e1d22;
}

#fixedNav { border-radius: 0px; border: none;
	background-color: #0f5ffb;
}

.container-fluid { 
	text-align: center;
	margin: 10px;
}

h1 { /*clear: left;*/
	display: inline;
	width: 75%;
	color: white;
	text-align: center;
}

span.leftIcon, a { float: left;
	/*display: inline;*/
	margin: 5px;
	color: white;
}

div.panel.panel-default { max-width: 800px; margin: 0px auto; 
	border: none;
}

form { border: none; 
	background-color: #1e1d22;
}

.form-group { color: black;
	width: 80%;
	margin: 0px auto;
	padding: 10px;
}

.form-control, #userPassword { 
	border-radius: 0px; 
	font-size: 16px;
	padding: 20px;
	width: 80%;
}

.userBtns { 
	width: 70%; 
	margin: 0px auto; 
	padding: 20px;	
}

.btn.btn-default { border: none;
	color: white; 
	background-color: #0f5ffb;
	width: 25%;
	margin: 10px;
	padding: 10px;
}

.btn.btn-default:hover {
	color: #222328;
}

#userSubmit { 
	background-color: #f7c04b;
}  

/******* WATCH PAGE ******/
h2 { color: white;
	text-align: center;
	font-size: 1.5em;
	background-color: #1e1d22;
}

.form-control, .form-check { 
	font-size: 16px;
	height: 40px; 
	/*color: white;*/
	width: 80%;
	margin: 0px auto;
}

.form-check { color: white;
	width: 60%;
}  

/******* LOCATION PAGE ******/
html.ui-mobile, body.ui-mobile-viewport, div.ui-mobile-viewport, div.ui-page-theme-a.ui-page-active {
  border: none;
  background-color: #1e1d22; 
}

  #fixedNav { 
    background-color: #0f5ffb;
  }

  .container-fluid {
    text-align: center;
    margin: 10px;
  }
  
  h1 { /*clear: left;*/
    display: inline;
    /*margin: 10px;*/
    width: 75%;
    color: white;
    text-align: center;
  }

span.leftIcon, a { float: left;
  /*display: inline;*/
  margin: 5px;  
}

a.ui-link i {
  color: white;
}

.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
    background-color: #f9f9f9;
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}

/*html > .ui-bar-a > .ui-body-a > .ui-group-theme-a {
  color: white;
}*/

span.rightIcon, a { float: right; 
  /*display: inline;*/
  margin: 5px;  
}

.wrapper { 
  padding: 10px; 
}

/*CHRIS ADDED (start)*/
#two { 
  grid-column: 1 / 3; /*defines the start and end grid lines*/
  grid-row: 2;  
}
#three { 
  grid-column: 3 / 5; 
  grid-row: 2;
}

#four { 
  grid-column: 5 / 7;
  grid-row: 2;
}

#five { 
  grid-column: 1 / 4;
  grid-row: 3;
}

#six { 
  grid-column: 4 / 7;
  grid-row: 3;
}
/*CHRIS ADDED (end)*/

#two, #three, #four, #five, #six { /*border: 1px solid orange; */
  padding: 10px 10px 50px 10px;
	/*text-align: center; CHRIS REMOVED*/
	/*margin: 20px auto; CHRIS REMOVED*/
}

div#two img, div#three img, div#four img { 
  /*margin: 0px auto;*/
  /*width: 90%;*/
}

.imgPlaceholder {
	border: 2px solid #0f5ffb;
}

.ui-collapsible-inset .ui-collapsible-heading, .ui-collapsible-heading > .ui-btn {
  width: 94%;
	/*margin: 0px auto; */
	border: none;
}

.ui-collapsible-content.ui-body-inherit {
  background-color: #f3f3f3;
  border-style: none;
  margin: 0px auto;
  width: 90%;
}

/******* CHRIS CSS CODE (start) ******/
.cityImgs {
  width: 100%;
  height: 120px;
  overflow: hidden;
  background-color: black;
}
.cityImgs img {
  width: 100%;
  transform: translate(0, -23%) /* centers img vertically */
}

.ui-page-theme-a .ui-btn {
  color: black;
  text-shadow: none;
}

.ui-page-theme-a .ui-btn:hover {
  color: #333;
  text-shadow: none;
}
/******* CHRIS CSS CODE (end) ******/




/******MEDIA QUERIES******/
 @media screen and (min-width: 850px) {
	.wrapper { padding: 10px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	}
	/*.one { 
	grid-column: 1 / 4; defines the start and end grid lines
	grid-row: 1;
	}*/
	.two { 
	  grid-column: 1 / 3; /*defines the start and end grid lines*/
	  grid-row: 2;  
	}
	.three { 
	  grid-column: 3 / 5; 
	  grid-row: 2;
	}

	.four { 
	  grid-column: 5 / 7;
	  grid-row: 2;
	}

	.five { 
	  grid-column: 1 / 4;
	  grid-row: 3;
	}

	.six { 
	  grid-column: 4 / 7;
	  grid-row: 3;
	}

	.two, .three, .four, .five, .six {  
		padding: 10px;
		text-align: center;
	}
 }

