html, body { 
	margin: 0px; 
	padding: 0px;
	height: 100%;
}

/******* INDEX & USER PAGES ******/
body{
	margin: 0px auto;
	background-image: url("../images/ocean.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;	
}
.signinContainer, .userForm { /*flex container for index & user pgs*/
	margin: 0px auto;		
	display: -webkit-flex;
	display: flex;
	width: 90%;
	max-width: 1000px;
	height: 100%; 
	-webkit-align-items: center;
	align-items: center;
}
.about img, .user img { /*logo on index & user pgs*/
	width: 110px;
	height: 100px;
}
.about h1, .user h1 { 
	color: orange; 
	font-family: 'Arimo', sans-serif;
	font-size: 2.6em;
	font-weight: bolder;
	text-shadow: 2px 3px #00222b;
	display: inline;
}
.signinContainer p, .user p {
	font-size: 2em;
	color: white;
	text-shadow: 1px 2px #00222b;
}
.about, .middle, .user, .userSignup { /*flex items - forms on index & user pgs*/ 
	padding: 10px;		
	width: 90%;	
	height: auto;
	margin: 10px;
	align-self: auto;
}
.middle, .userSignup { 
	box-shadow: 4px 3px #00222b;
	border-radius: 10px;
	opacity: 0.7;
	background-color: white;
}

.signinForm {  /*signin form container*/ 
	padding: 15px;
}
.signinForm input[type=text], input[type=password], input.btn, .userSignup input[type=text], input[type=email], input[type=password] button { /*input fields - forms on index & user pgs*/ 
	border-radius: 6px;
	width: 90%;
	padding: 5px;
	margin: 0px auto;
	display: block;
	border: none;
	color: black;
	font-size: 16px;
	font-weight: bolder;
	background-color: #ddd;		
}
input.btn {  
	border-radius: 8px; 
	text-decoration: none;
	border: none; 
	background-color: orange;
	color: white;
	font-size: 16px;
}
input.btn:hover {
  color: #00222b;
}
#signUp { 
	border: none; 
	background-color: #074290;
  }

/******* USER PAGE ******/
.userBtns { 
	width: 90%; 
	margin: 0px auto; 	
}
.userSubmit, .userReset, .btn.btn-default {  
	border-radius: 8px; 
	font-weight: bolder;
	text-decoration: none;
	border: none; 
	background-color: #074290;
	color: white;
	font-size: 16px;
	width: 100%;
	padding: 5px;
	display: block;
}
.btn.btn-default:hover {
	color: #00222b;
}
#userSubmit { 
	background-color: orange;
}  

/******* LOCATION PAGE ******/
.navbar {
	background-color: white;
	border-radius: 0px;
	margin-bottom: 0px;
	position: absolute;
	top: 0;
}
nav.navbar div.container-fluid {
	margin: 15px;
}
.modal-body .form-control, .modal-body .form-check { /* modal on location page */
	width: 60%;
}  
.modal-backdrop {
	background-color: unset;
	position: relative;
}
a.ui-link i {
  color: white;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper {
		background-color: transparent; /*enables background image to be seen*/
    border-color: #bbb;
    color: #333;
    text-shadow: 0 1px 0 #f3f3f3;
}
span.rightIcon, a { 
  display: inline;
}
.wrapper { 
  padding: 10px; 
}
#watch0, #watch1, #watch2, #worldMap {
  padding: 10px 10px 50px 10px;
}
div#watch0 img, div#watch1 img, div#watch2 img { 
  margin: 0px auto;
  width: 100%;
}
.imgPlaceholder {
	border: 2px solid #0f5ffb;
}
.ui-collapsible-inset .ui-collapsible-heading, .ui-collapsible-heading > .ui-btn {
  width: 100%;
	border: none;
}
.ui-collapsible-content.ui-body-inherit {
  background-color: #f3f3f3;
  border-style: none;
  margin: 0px auto;
  width: 100%;
}
#worldMap { /*gradient not supported by IE9 and earlier versions*/
	background-color: black;
	height: 800px; 
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); /* Standard syntax (must be last) */
}
#map {
	width: 100%;
	position: absolute;
	left: 0;
}
#mapOverlay {
	width: 100%;
	position: absolute;
	left: 0;
}
 .cityImgs {
 width: 100%;
 height: 120px;
 overflow: hidden;
 /* background-color: #00222b; */
}
.temperature{
	background-color: yellow;
	/*float: right;*/
	width: 50px;
	height: 50px;
	/*position: relative;*/
	/* top: 100px;
	right: 100px; */
}
.cityImgs img {
 width: 100%;
 transform: translate(0, -23%) /*centers img vertically*/ 
}
.imgPlaceholder {
	width: 100%;
	transform: translate(0, -23%) /* centers img vertically */
 }
.ui-page-theme-a .ui-btn {
 color: black;
 text-shadow: none;
}
.ui-page-theme-a .ui-btn:hover {
 color: #333;
 text-shadow: none;
} 
#watchTitle0 .ui-collapsible-heading-toggle .delete,
#watchTitle1 .ui-collapsible-heading-toggle .delete,
#watchTitle2 .ui-collapsible-heading-toggle .delete {
	width: 23px;
	height: 23px;
	float: right;
	margin-right: -7px;
}
#watchTitle0 .ui-collapsible-heading-toggle .delete:hover,
#watchTitle1 .ui-collapsible-heading-toggle .delete:hover,
#watchTitle2 .ui-collapsible-heading-toggle .delete:hover {
	opacity: 0.5;
}

/******MEDIA QUERIES******/
@media screen and (max-width: 1100px) { /*for index & user pgs*/
	.signinContainer p, .userForm p {
		font-size: 1.3em;
	}
	.about img, .user img {
		width: 90px;
		height: 80px;
	}
	.about h1, .user h1 {
		font-size: 2em;
	}
}
@media screen and (max-width:850px) { /*for index & user pgs*/
	.signinContainer, .userForm { 
		flex-direction: column;
	}
	div.middle {
		margin-top: 0px;
	}
	.signinForm {
		padding: 3px;
	}
	#worldMap { height: 600px;
	}
}
@media screen and (min-width: 850px) { /*for dashboard pg*/
	.wrapper { padding: 10px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	}
	.ui-collapsible-heading-toggle .watch {
		padding-right: 25px;
	}
	#watch0 { 
	  grid-column: 1 / 3; /*defines the start and end grid lines*/
	  grid-row: 2;  
	}
	#watch1 { 
	  grid-column: 3 / 5; 
	  grid-row: 2;
	}
	#watch2 { 
	  grid-column: 5 / 7;
	  grid-row: 2;
	}
	#worldMap { 
	  grid-column: 1 / 7;
	  grid-row: 3;
	}
	/* DYNAMIC MAP */
	#mapContainer {
		width:100%;
		overflow: hidden;
	}
	#worldMap { 
	  grid-column: 1 / 7;
	  grid-row: 3;
	}
	#watch0, #watch1, #watch2, #worldMap {  
		padding: 10px;
		text-align: center;
	}
 }
 @media screen and (max-width:600px) { /*for index & user pgs*/
	 .signinContainer p, .userForm p {
		font-size: 1em;
		}
	.about img, .user img {
		width: 70px;
		height: 60px;
	}
	.about h1, .user h1 {
		font-size: 1.6em;
	}
	#worldMap {
		height: 340px;
	}
}